University of Zagreb\
Faculty of Electrical Engineering and Computing

## Text Analysis and Retrieval 2023/2024
https://www.fer.unizg.hr/en/course/taar

------------------------------

# LAB 1: Basics of NLP

*Version: 1.3*

© 2024 Josip Jukić, Jan Šnajder

Submission deadline: **March 24, 2024, 23:59 CET** 

------------------------------

### Instructions

Welcome, visitor! This lab assignment is structured into three segments. Your primary objective is to complete the missing code sections, marked by the "YOUR CODE HERE" placeholder, and then evaluate the cells.

For each part of the assignment, a series of tests are available for you to run. These tests are designed to guide you by showing the expected output format. Additionally, after you submit your assignment, further tests will be conducted. Please note that variations in library versions might cause slight differences in your results. However, there's no need for concern, as your submitted work will be evaluated in a controlled environment.


### Submission rules
By submitting the exercise, you confirm the following points:
1. You did not receive help from another when solving the exercise;
2. You attributed parts of the code that were taken from the Internet by referencing them in comments;
3. You did not use parts of the code from the Internet that are specific to the laboratory exercise;
4. You have not used AI assistants for coding such as GitHub Copilot (including generative AI tools such as ChatGPT).

**Violation of any of the above rules is considered a misdemeanor and results in academic sanctions.**

## Tasks

### 1. Preprocessing

In [1]:
import spacy
import numpy as np
import pandas as pd

In this assignment, we'll be making extensive use of the [spaCy](https://spacy.io/) library. It's crucial that you familiarize yourself with its key features. For a foundational understanding, please explore the basics [here](https://spacy.io/usage/spacy-101). Ensure you're comfortable with the concepts we've discussed in lectures, such as tokenization, lemmatization, part-of-speech (POS) tagging, and named entity recognition (NER).

Additionally, our work will incorporate the [NumPy](https://numpy.org/) and [pandas](https://pandas.pydata.org/) libraries. Should these be new to you, we recommend engaging with [this tutorial](https://www.hackerearth.com/practice/machine-learning/data-manipulation-visualisation-r-python/tutorial-data-manipulation-numpy-pandas-python/tutorial/) to get up to speed.

In [2]:
# Load spacy model
nlp = spacy.load("en_core_web_sm")

#### (a)
Process the example below with spaCy. Tokenize the document and gather the tokens in a list. Finally, print the tokens.

In [3]:
ex1_a1 = (
    "A wizard is never late, Frodo Baggins. "
    "Nor is he early; he arrives precisely when he means to."
)

In [4]:
# YOUR CODE HERE
doc = nlp(ex1_a1)
for token in doc:
    print(token.text)

A
wizard
is
never
late
,
Frodo
Baggins
.
Nor
is
he
early
;
he
arrives
precisely
when
he
means
to
.

#### (b)
Implement `sentencizer` using [spaCy](https://spacy.io/usage/linguistic-features).

In [5]:
def sentencizer(text):
    """
    Receives a string as an input,
    splits the document to sentences and gathers them in a list.
    """
    # YOUR CODE HERE
    doc = nlp(text)
    return [sentence.text for sentence in doc.sents]

In [6]:
assert sentencizer("Sentence no. 1. Sentence no. 2.") == [
    "Sentence no. 1.",
    "Sentence no. 2.",
]

#### (c)

Implement `lemmatizer` using [spaCy](https://spacy.io/usage/linguistic-features).

In [7]:
def lemmatizer(text):
    """
    Receives a string as an input and lemmatizes it.
    The lemmas are returned in a list.
    """
    # YOUR CODE HERE
    doc = nlp(text)
    return [token.lemma_ for token in doc]

In [8]:
assert lemmatizer(ex1_a1) == [
    "a",
    "wizard",
    "be",
    "never",
    "late",
    ",",
    "Frodo",
    "Baggins",
    ".",
    "nor",
    "be",
    "he",
    "early",
    ";",
    "he",
    "arrive",
    "precisely",
    "when",
    "he",
    "mean",
    "to",
    ".",
]

#### (d)

Implement the `ngrams` methods. You might find the [`tee`](https://www.geeksforgeeks.org/python-itertools-tee/) method from the `itertools` package useful, but you're not obliged to use it. The method should return a generator. Plase refer to the [link](https://wiki.python.org/moin/Generators) if you aren't familiar with Python generators.

In [9]:
from itertools import tee


def ngrams(sequence, n, **kwargs):
    """
    Receives a list of tokens and generates n-grams.
    """
    # YOUR CODE HERE
    iterators = tee(sequence, n)
    for i, iterator in enumerate(iterators):
        for _ in range(i):
            next(iterator)
    for ngram in zip(*iterators):
        yield ngram

In [10]:
assert list(ngrams(lemmatizer(ex1_a1), 2)) == [
    ("a", "wizard"),
    ("wizard", "be"),
    ("be", "never"),
    ("never", "late"),
    ("late", ","),
    (",", "Frodo"),
    ("Frodo", "Baggins"),
    ("Baggins", "."),
    (".", "nor"),
    ("nor", "be"),
    ("be", "he"),
    ("he", "early"),
    ("early", ";"),
    (";", "he"),
    ("he", "arrive"),
    ("arrive", "precisely"),
    ("precisely", "when"),
    ("when", "he"),
    ("he", "mean"),
    ("mean", "to"),
    ("to", "."),
]

### 2. News classification

#### (a)
Load the prepared BBC news data to a `pandas` dataframe named `df_bbc`. Explore the dataset structure.

In [11]:
import pandas as pd

# YOUR CODE HERE
df_bbc = pd.read_csv("bbc.csv")

#print(df_bbc.iloc[1].news)
#print(df_bbc.iloc[1].type)

for index, row in df_bbc.iterrows():
    print('Row data:')
    print(row)

Row data:
news    New 'yob' targets to be unveiled\n \n Fifty ne...
type                                             politics
Name: 0, dtype: object
Row data:
news    Newcastle line up Babayaro\n \n Newcastle mana...
type                                                sport
Name: 1, dtype: object
Row data:
news    Europe backs digital TV lifestyle\n \n How peo...
type                                                 tech
Name: 2, dtype: object
Row data:
news    Fears raised over ballet future\n \n Fewer chi...
type                                        entertainment
Name: 3, dtype: object
Row data:
news    Barkley fit for match in Ireland\n \n England ...
type                                                sport
Name: 4, dtype: object
Row data:
news    France Telecom gets Orange boost\n \n Strong g...
type                                             business
Name: 5, dtype: object
Row data:
news    MCI shareholder sues to stop bid\n \n A shareh...
type                                             business
Name: 6, dtype: object
Row data:
news    Kennedy calls for Iraq exit plans\n \n Tony Bl...
type                                             politics
Name: 7, dtype: object
Row data:
news    Johnson uncertain about Euro bid\n \n Jade Joh...
type                                                sport
Name: 8, dtype: object
Row data:
news    Parmalat founder offers apology\n \n The found...
type                                             business
Name: 9, dtype: object
Row data:
news    Cabs collect mountain of mobiles\n \n Gadgets ...
type                                                 tech
Name: 10, dtype: object
Row data:
news    Kelly trails new discipline power\n \n Teacher...
type                                             politics
Name: 11, dtype: object
Row data:
news    Text message record smashed again\n \n UK mobi...
type                                                 tech
Name: 12, dtype: object
Row data:
news    US retail sales surge in December\n \n US reta...
type                                             business
Name: 13, dtype: object
Row data:
news    Britons growing 'digitally obese'\n \n Gadget ...
type                                                 tech
Name: 14, dtype: object
Row data:
news    Boeing unveils new 777 aircraft\n \n US aircra...
type                                             business
Name: 15, dtype: object
Row data:
news    Labour trio 'had vote-rig factory'\n \n Three ...
type                                             politics
Name: 16, dtype: object
Row data:
news    Henman hopes ended in Dubai\n \n Third seed Ti...
type                                                sport
Name: 17, dtype: object
Row data:
news    China continues rapid growth\n \n China's econ...
type                                             business
Name: 18, dtype: object
Row data:
news    Labour plans maternity pay rise\n \n Maternity...
type                                             politics
Name: 19, dtype: object
Row data:
news    Double injury blow strikes Wales\n \n Wales ce...
type                                                sport
Name: 20, dtype: object
Row data:
news    A November to remember\n \n Last Saturday, one...
type                                                sport
Name: 21, dtype: object
Row data:
news    Minister digs in over doping row\n \n The Belg...
type                                                sport
Name: 22, dtype: object
Row data:
news    US in EU tariff chaos trade row\n \n The US ha...
type                                             business
Name: 23, dtype: object
Row data:
news    Prince crowned 'top music earner'\n \n Prince ...
type                                        entertainment
Name: 24, dtype: object
Row data:
news    Downing injury mars Uefa victory\n \n Middlesb...
type                                                sport
Name: 25, dtype: object
Row data:
news    Tautou film tops Cesar prize nods\n \n French ...
type                                        entertainment
Name: 26, dtype: object
Row data:
news    Snow Patrol bassist exits group\n \n Snow Patr...
type                                        entertainment
Name: 27, dtype: object
Row data:
news    Fast moving phone viruses appear\n \n Security...
type                                                 tech
Name: 28, dtype: object
Row data:
news    UK bank seals South Korean deal\n \n UK-based ...
type                                             business
Name: 29, dtype: object
Row data:
news    Fox attacks Blair's Tory 'lies'\n \n Tony Blai...
type                                             politics
Name: 30, dtype: object
Row data:
news    Aviation firms eye booming India\n \n India's ...
type                                             business
Name: 31, dtype: object
Row data:
news    Rush future at Chester uncertain\n \n Ian Rush...
type                                                sport
Name: 32, dtype: object
Row data:
news    Global blogger action day called\n \n The glob...
type                                                 tech
Name: 33, dtype: object
Row data:
news    Stormy year for property insurers\n \n A strin...
type                                             business
Name: 34, dtype: object
Row data:
news    Optimism remains over UK housing\n \n The UK p...
type                                             business
Name: 35, dtype: object
Row data:
news    SBC plans post-takeover job cuts\n \n US phone...
type                                             business
Name: 36, dtype: object
Row data:
news    Singapore growth at 8.1% in 2004\n \n Singapor...
type                                             business
Name: 37, dtype: object
Row data:
news    Parties' plans for council tax\n \n Anger at c...
type                                             politics
Name: 38, dtype: object
Row data:
news    Aviator and Vera take Bafta glory\n \n Hollywo...
type                                        entertainment
Name: 39, dtype: object
Row data:
news    Screensaver tackles spam websites\n \n Net use...
type                                                 tech
Name: 40, dtype: object
Row data:
news    Crossrail link 'to get go-ahead'\n \n The £10b...
type                                             business
Name: 41, dtype: object
Row data:
news    UK set to cut back on embassies\n \n Nine over...
type                                             politics
Name: 42, dtype: object
Row data:
news    Qatar and Shell in $6bn gas deal\n \n Shell ha...
type                                             business
Name: 43, dtype: object
Row data:
news    Umaga ready for "fearsome" Lions\n \n All Blac...
type                                                sport
Name: 44, dtype: object
Row data:
news    Freeze on anti-spam campaign\n \n A campaign b...
type                                                 tech
Name: 45, dtype: object
Row data:
news    UK Coal plunges into deeper loss\n \n Shares i...
type                                             business
Name: 46, dtype: object
Row data:
news    Lifestyle 'governs mobile choice'\n \n Faster,...
type                                                 tech
Name: 47, dtype: object
Row data:
news    Japanese mogul arrested for fraud\n \n One of ...
type                                             business
Name: 48, dtype: object
Row data:
news    O'Driscoll/Gregan lead Aid stars\n \n Ireland'...
type                                                sport
Name: 49, dtype: object
Row data:
news    Mobile games come of age\n \n The BBC News web...
type                                                 tech
Name: 50, dtype: object
Row data:
news    Robinson ready for difficult task\n \n England...
type                                                sport
Name: 51, dtype: object
Row data:
news    Kennedy looks to election gains\n \n They may ...
type                                             politics
Name: 52, dtype: object
Row data:
news    FA charges Liverpool and Millwall\n \n Liverpo...
type                                                sport
Name: 53, dtype: object
Row data:
news    Macy's owner buys rival for $11bn\n \n US reta...
type                                             business
Name: 54, dtype: object
Row data:
news    Blair dismisses quit claim report\n \n Tony Bl...
type                                             politics
Name: 55, dtype: object
Row data:
news    ECB holds rates amid growth fears\n \n The Eur...
type                                             business
Name: 56, dtype: object
Row data:
news    Fiat mulls Ferrari market listing\n \n Ferrari...
type                                             business
Name: 57, dtype: object
Row data:
news    Clijsters hope on Aussie Open\n \n Kim Clijste...
type                                                sport
Name: 58, dtype: object
Row data:
news    Tobacco giants hail court ruling\n \n US tobac...
type                                             business
Name: 59, dtype: object
Row data:
news    England given tough Sevens draw\n \n England w...
type                                                sport
Name: 60, dtype: object
Row data:
news    GB select Holmes for double bid\n \n Kelly Hol...
type                                                sport
Name: 61, dtype: object
Row data:
news    Wilkinson return 'unlikely'\n \n Jonny Wilkins...
type                                                sport
Name: 62, dtype: object
Row data:
news    Glazer makes new Man Utd approach\n \n Malcolm...
type                                             business
Name: 63, dtype: object
Row data:
news    Trade gap narrows as exports rise\n \n The UK'...
type                                             business
Name: 64, dtype: object
Row data:
news    Lewis-Francis turns to Christie\n \n Mark Lewi...
type                                                sport
Name: 65, dtype: object
Row data:
news    Chelsea ridiculed over complaint\n \n Barcelon...
type                                                sport
Name: 66, dtype: object
Row data:
news    Blair to face MPs amid feud talk\n \n Tony Bla...
type                                             politics
Name: 67, dtype: object
Row data:
news    Howard denies split over ID cards\n \n Michael...
type                                             politics
Name: 68, dtype: object
Row data:
news    Henman & Murray claim LTA awards\n \n Tim Henm...
type                                                sport
Name: 69, dtype: object
Row data:
news    US trade gap hits record in 2004\n \n The gap ...
type                                             business
Name: 70, dtype: object
Row data:
news    Mourinho receives Robson warning\n \n Sir Bobb...
type                                                sport
Name: 71, dtype: object
Row data:
news    Robben sidelined with broken foot\n \n Chelsea...
type                                                sport
Name: 72, dtype: object
Row data:
news    Concern over RFID tags\n \n Consumers are very...
type                                                 tech
Name: 73, dtype: object
Row data:
news    Labour's election love-in\n \n Peace and love ...
type                                             politics
Name: 74, dtype: object
Row data:
news    Star Trek fans fight to save show\n \n Star Tr...
type                                        entertainment
Name: 75, dtype: object
Row data:
news    Wall Street cool to eBay's profit\n \n Shares ...
type                                             business
Name: 76, dtype: object
Row data:
news    Bellamy fined after row\n \n Newcastle have fi...
type                                                sport
Name: 77, dtype: object
Row data:
news    Viewers to be able to shape TV\n \n Imagine ed...
type                                                 tech
Name: 78, dtype: object
Row data:
news    Little Britain vies for TV trophy\n \n BBC hit...
type                                        entertainment
Name: 79, dtype: object
Row data:
news    Actor Scott is new Bond favourite\n \n Bookmak...
type                                        entertainment
Name: 80, dtype: object
Row data:
news    Paraguay novel wins US book prize\n \n A novel...
type                                        entertainment
Name: 81, dtype: object
Row data:
news    Khodorkovsky quits Yukos shares\n \n Jailed ty...
type                                             business
Name: 82, dtype: object
Row data:
news    Actress Roberts takes spider role\n \n Actress...
type                                        entertainment
Name: 83, dtype: object
Row data:
news    O'Sullivan quick to hail Italians\n \n Ireland...
type                                                sport
Name: 84, dtype: object
Row data:
news    Glaxo aims high after profit fall\n \n GlaxoSm...
type                                             business
Name: 85, dtype: object
Row data:
news    Insurance bosses plead guilty\n \n Another thr...
type                                             business
Name: 86, dtype: object
Row data:
news    US duo in first spam conviction\n \n A brother...
type                                                 tech
Name: 87, dtype: object
Row data:
news    Holmes back on form in Birmingham\n \n Double ...
type                                                sport
Name: 88, dtype: object
Row data:
news    Sun offers processing by the hour\n \n Sun Mic...
type                                                 tech
Name: 89, dtype: object
Row data:
news    Wenger signs new deal\n \n Arsenal manager Ars...
type                                                sport
Name: 90, dtype: object
Row data:
news    Oil rebounds from weather effect\n \n Oil pric...
type                                             business
Name: 91, dtype: object
Row data:
news    US trade gap ballooned in October\n \n The US ...
type                                             business
Name: 92, dtype: object
Row data:
news    Youssou N'Dour wins music prize\n \n Senegales...
type                                        entertainment
Name: 93, dtype: object
Row data:
news    Edu blasts Arsenal\n \n Arsenal's Brazilian mi...
type                                                sport
Name: 94, dtype: object
Row data:
news    Ronaldo considering new contract\n \n Manchest...
type                                                sport
Name: 95, dtype: object
Row data:
news    Asia quake increases poverty risk\n \n Nearly ...
type                                             business
Name: 96, dtype: object
Row data:
news    Bets off after Big Brother 'leak'\n \n A bookm...
type                                        entertainment
Name: 97, dtype: object
Row data:
news    Mixed Christmas for US retailers\n \n US retai...
type                                             business
Name: 98, dtype: object
Row data:
news    Warnings on woeful wi-fi security\n \n Compani...
type                                                 tech
Name: 99, dtype: object
Row data:
news    Virgin Radio offers 3G broadcast\n \n UK broad...
type                                                 tech
Name: 100, dtype: object
Row data:
news    Brazil buy boosts Belgium's Inbev\n \n Belgian...
type                                             business
Name: 101, dtype: object
Row data:
news    Tigers wary of Farrell 'gamble'\n \n Leicester...
type                                                sport
Name: 102, dtype: object
Row data:
news    Kilroy launches 'Veritas' party\n \n Ex-BBC ch...
type                                             politics
Name: 103, dtype: object
Row data:
news    China keeps tight rein on credit\n \n China's ...
type                                             business
Name: 104, dtype: object
Row data:
news    Wilkinson to lead England\n \n Fly-half Jonny ...
type                                                sport
Name: 105, dtype: object
Row data:
news    Howl helps boost Japan's cinemas\n \n Japan's ...
type                                        entertainment
Name: 106, dtype: object
Row data:
news    Egypt to sell off state-owned bank\n \n The Eg...
type                                             business
Name: 107, dtype: object
Row data:
news    Parker misses England clash\n \n Tom Shanklin ...
type                                                sport
Name: 108, dtype: object
Row data:
news    Campbell to extend sprint career\n \n Darren C...
type                                                sport
Name: 109, dtype: object
Row data:
news    US composer recreates Bach score\n \n A US mus...
type                                        entertainment
Name: 110, dtype: object
Row data:
news    Firms pump billions into pensions\n \n Employe...
type                                             business
Name: 111, dtype: object
Row data:
news    Hingis to make unexpected return\n \n Martina ...
type                                                sport
Name: 112, dtype: object
Row data:
news    Early Elvis recordings go on sale\n \n Some of...
type                                        entertainment
Name: 113, dtype: object
Row data:
news    Guantanamo four questioned\n \n The four Brito...
type                                             politics
Name: 114, dtype: object
Row data:
news    Edwards tips Idowu for Euro gold\n \n World ou...
type                                                sport
Name: 115, dtype: object
Row data:
news    Borders 19-20 Ulster\n \n Ulster clung on for ...
type                                                sport
Name: 116, dtype: object
Row data:
news    Bomb threat at Bernabeu stadium\n \n Spectator...
type                                                sport
Name: 117, dtype: object
Row data:
news    India's Deccan gets more planes\n \n Air Decca...
type                                             business
Name: 118, dtype: object
Row data:
news    Kennedy predicts bigger turnout\n \n Voters' "...
type                                             politics
Name: 119, dtype: object
Row data:
news    Wilkinson fit to face Edinburgh\n \n England c...
type                                                sport
Name: 120, dtype: object
Row data:
news    Dollar hits new low versus euro\n \n The US do...
type                                             business
Name: 121, dtype: object
Row data:
news    Applegate's Charity show closes\n \n US musica...
type                                        entertainment
Name: 122, dtype: object
Row data:
news    BA to suspend two Saudi services\n \n British ...
type                                             business
Name: 123, dtype: object
Row data:
news    Prutton poised for lengthy FA ban\n \n Southam...
type                                                sport
Name: 124, dtype: object
Row data:
news    World leaders gather to face uncertainty\n \n ...
type                                             business
Name: 125, dtype: object
Row data:
news    Brown's poll campaign move denied\n \n The gov...
type                                             politics
Name: 126, dtype: object
Row data:
news    Portishead back after eight years\n \n Cult Br...
type                                        entertainment
Name: 127, dtype: object
Row data:
news    Brown shrugs off economy fears\n \n Gordon Bro...
type                                             politics
Name: 128, dtype: object
Row data:
news    Springer criticises Opera musical\n \n Talk sh...
type                                        entertainment
Name: 129, dtype: object
Row data:
news    McCririck out of Big Brother show\n \n Racing ...
type                                        entertainment
Name: 130, dtype: object
Row data:
news    Defection timed to hit tax pledge\n \n With im...
type                                             politics
Name: 131, dtype: object
Row data:
news    Venus stunned by Farina Elia\n \n Venus Willia...
type                                                sport
Name: 132, dtype: object
Row data:

#### (b)
To make the classification task a bit more challenging, we want to remove the news title from the text.\
Additionally, we will replace all whitespaces with single spaces. Implement title removal and whitespace replacement in `clean_text`.\
E.g., "This \n is  \t an &nbsp;&nbsp;&nbsp;&nbsp; example. " -> "This is an example."

In [12]:
import re

def clean_text(text):
    """
    Removes news title and replaces all whitespaces with single spaces.
    Returns preprocessed text.
    """
    # YOUR CODE HERE
    text = text.split("\n", 1)[1].replace("\n", " ").replace("\t", " ")
    return re.sub(r'\s+', ' ', text)

print(clean_text("Breaking news\nClever Hans \t learns  to integrate."))

Clever Hans learns to integrate.

In [13]:
assert (
    clean_text("Breaking news\nClever Hans \t learns  to integrate.")
    == "Clever Hans learns to integrate."
)

In [14]:
df_bbc["text"] = df_bbc.news.apply(clean_text)

#### (c)
1. Implement an abstract pipeline in `preprocess_pipe`. The method receives a sequence of texts and a pipe function, which is used to preprocess documents in combination with the spaCy model `nlp` that we loaded at the beginning. We recommend you use [`nlp.pipe`](https://spacy.io/usage/processing-pipelines).
2. Implement `lemmatize_pipe` that collects lemmas and returns a list of n-grams ranging from `ngram_min` to `ngram_max`. Additionally, **truncate** the documents to `max_len` tokens and **remove the stop words**. Refer to the tests below to see how this method should behave.

In [15]:
def lemmatize_pipe(doc, max_len, ngram_min, ngram_max):
    """
    Removes stopword, truncates the document to `max_len` tokens,
    and returns lemma n-grams in range [`ngram_min`, `ngram_max`].
    """
    # YOUR CODE HERE
    modified_lemmas = [token.lemma_ for token in doc if token.is_stop==False][:max_len]
    ngrams_final = []
    for n in range(ngram_min, ngram_max+1):
        ngrams_final.extend(list(ngrams(modified_lemmas, n)))
    return ngrams_final

    
def preprocess_pipe(texts, pipe_fn):
    # YOUR CODE HERE
    pipes = []
    for doc in nlp.pipe(texts):
        pipes.append(pipe_fn(doc))
    return pipes

In [16]:
from functools import partial


pipe_fn = partial(lemmatize_pipe, max_len=100, ngram_min=1, ngram_max=2)

ex2_c1 = ["Text no. 1", "Text no. 2"]
sol2_c1 = [
    [("text",), (".",), ("1",), ("text", "."), (".", "1")],
    [("text",), (".",), ("2",), ("text", "."), (".", "2")],
]

assert preprocess_pipe(ex2_c1, pipe_fn) == sol2_c1


ex2_c2 = ["The Quest stands upon the edge of a knife."]

sol2_c2 = [
    [
        ("Quest",),
        ("stand",),
        ("edge",),
        ("knife",),
        (".",),
        ("Quest", "stand"),
        ("stand", "edge"),
        ("edge", "knife"),
        ("knife", "."),
    ]
]
assert preprocess_pipe(ex2_c2, pipe_fn) == sol2_c2

In [17]:
from functools import partial
from sklearn.model_selection import train_test_split

pipe_fn = partial(lemmatize_pipe, max_len=100, ngram_min=1, ngram_max=2)

df_bbc["lemmas"] = preprocess_pipe(df_bbc.text, pipe_fn)
df_bbc_train, df_bbc_test = train_test_split(
    df_bbc[["lemmas", "type"]], test_size=0.2, random_state=42
)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

# Load vectorizers
count_vectorizer = CountVectorizer(
    tokenizer=lambda doc: doc, lowercase=False, min_df=3, token_pattern=None
)
tfidf_vectorizer = TfidfVectorizer(
    tokenizer=lambda doc: doc, lowercase=False, min_df=3, token_pattern=None
)

#### (d)
Implement `train_lr`. Run `test_performance` with count and TF-IDF vectorizer. Compare the results.

In [19]:
from sklearn.linear_model import LogisticRegression as LR


def train_lr(df_train, vectorizer, lr_kwargs={"max_iter": 1000, "solver": "lbfgs"}):
    """
    Receives the train set `df_train` as pd.DataFrame and extracts lemma n-grams
    with their correspoding labels (news type).
    The text is vectorized and used to train a logistic regression with
    training arguments passed as `lr_kwargs`.
    Returns the fitted model.
    """
    # YOUR CODE HERE
    X_train = df_train["lemmas"]
    y_train = df_train["type"]
    X_train = vectorizer.fit_transform(X_train)
    lr_model = LR(**lr_kwargs)
    lr_model.fit(X_train, y_train)
    
    return lr_model

In [20]:
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score


def test_performance(model, df_test, vectorizer):
    X_test, y_test = df_test.lemmas, df_test.type
    X_vec = vectorizer.transform(X_test)
    y_pred = model.predict(X_vec)
    print(classification_report(y_pred=y_pred, y_true=y_test))
    return f1_score(y_pred=y_pred, y_true=y_test, average="macro")

In [21]:
## Count vectorizer scenario
lr = train_lr(df_bbc_train, count_vectorizer)
f1 = test_performance(lr, df_bbc_test, count_vectorizer)
print(f"f1 = {f1:.3f}")

               precision    recall  f1-score   support

     business       1.00      0.91      0.95        11
entertainment       0.83      0.83      0.83         6
     politics       1.00      0.88      0.93         8
        sport       0.92      1.00      0.96        12
         tech       0.75      1.00      0.86         3

     accuracy                           0.93        40
    macro avg       0.90      0.92      0.91        40
 weighted avg       0.93      0.93      0.93        40

f1 = 0.907

In [22]:
## TF-IDF vectorizer scenario
lr = train_lr(df_bbc_train, tfidf_vectorizer)
f1 = test_performance(lr, df_bbc_test, tfidf_vectorizer)
print(f"f1 = {f1:.3f}")

               precision    recall  f1-score   support

     business       0.79      1.00      0.88        11
entertainment       1.00      0.67      0.80         6
     politics       1.00      0.88      0.93         8
        sport       0.92      1.00      0.96        12
         tech       1.00      0.67      0.80         3

     accuracy                           0.90        40
    macro avg       0.94      0.84      0.87        40
 weighted avg       0.92      0.90      0.90        40

f1 = 0.875